@mixin no-border {
  border: none;
  outline: none;
}
$bg-color: rgb(215, 222, 253);

* {
  font-weight: bold;
  letter-spacing: 1px;
}

header {
  font-weight: normal;
  padding: 30px;
  background: $bg-color;
  font-size: 40px;
}

.weather-info {
  padding: 10px 50px;
  background-color: $bg-color;
  margin: 40px auto;
  max-width: 400px;
  border-radius: 20px;
  line-height: 45px;

  .city-title {
    font-size: large;
  }

  .data-numbers {
    font-size: 25px;
  }

  .main-temp {
    font-size: 35px;
  }
}

.form-wrapper {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}

.input-form {
  input {
    @include no-border();
    border-bottom: 2px solid black;
    height: 30px;
    max-width: 200px;
    font-weight: normal;
    padding-left: 10px;
  }

  button {
    @include no-border();
    margin-left: 10px;
    padding: 7px 15px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;

    &:hover {
      background-color: rgb(243, 243, 243);
    }
  }
}
